mat-form-field
{
    width: 100%;
}

/* body{

    background-image: url(../../../assets/wallpapersden.jpg) ;
    background-repeat: no-repeat;
    padding: top 100%;
    background-size: cover;


   
    
} */

.top
{
    margin-top: 70px;
}