mat-form-field
{
    width: 100%;
}
body{

    background-image: url(../../../assets/color.jpg) ;
    background-repeat: no-repeat;
    padding: top 100%;
    background-size: cover;
}

label
{
    color: white;
}
